{% for certificate in certificates %}
<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
	<div class="certificate">
		<li>
			<p class="course-name" style="font-size: 16px; display: inline; font-weight: bold;">{{ certificate.title }}</p>
			<div class="issued-date" style="margin-top: 10px;">Issued on: {{ certificate.date }}</div>
			<div class="credential">
				<button class="btn btn-primary" onclick="window.open('{{ certificate.link }}', '_blank')">
					View Credential
				</button>
			</div>
		</li>
	</div>
</div>
{% endfor %}

{% if certificates %}
<script>
	// Update load more button offset
	document.querySelector('[hx-get*="load-more-certificates"]').setAttribute('hx-get', 
		'{% url "main:load_more_certificates" %}?offset={{ offset }}');
</script>
{% endif %}
