{% for project in projects %}
<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
	<div class="project" {% if project.image %}style="background-image: url('{{ project.image.url }}');"{% endif %}
		hx-get="{% url 'main:project_detail' project.id %}"
		hx-target="#project-modal-content"
		hx-trigger="click"
		style="cursor: pointer;">
		<div class="desc">
			<div class="con">
				<h3><a href="{{ project.link }}" onclick="event.stopPropagation();">{{ project.title }}</a></h3>
				<span style="font-size: 16px;">{{ project.description }}</span>
				<div class="tags-container">
					{% for tag in project.tags.all %}
						<span class="badge badge-primary">{{ tag.name }}</span>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}

{% if projects %}
<script>
	// Update load more button offset
	document.querySelector('[hx-get*="load-more-projects"]').setAttribute('hx-get', 
		'{% url "main:load_more_projects" %}?offset={{ offset }}');
</script>
{% endif %}
